<div id="navbar" class="navbar-fixed scrollspy">
  <nav  class="white">
    <div class="nav-wrapper container">
      
      <div class="container"> <a href="#navbar" class="brand-logo"><img class="navbar-logo" src="styles/img/logo-navbar.jpg"></a></div>     
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      
      <ul class="right hide-on-med-and-down">       
        <li><a class="head-link" href="#projects">Projects</a></li>
        <li><a class="head-link" href="#aboutus">About Us</a></li>
        <li><a class="head-link" href="#contactus">Contact Us</a></li>       
      </ul>

      <ul class="right side-nav" id="mobile-demo">
        <li><a class="head-link" href="#projects">Projects</a></li>
        <li><a class="head-link" href="#aboutus">About Us</a></li>
        <li><a class="head-link" href="#contactus">Contact Us</a></li>
      </ul>

    </div>
  </nav>
</div>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>

        <h1 class="header center indigo-text text-darken-4">Insight Food Sales</h1>
        <div class="row center">
          <h3 class="header col s12 blue-text light">Western States Bakery/Deli Broker</h3>
        </div>

        <div class="row center">
          <a href="#" class="btn-large waves-effect waves-light blue">About Us</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="styles/img/bakery2.jpg" alt="Unsplashed background img 2"></div>
</div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center" style="color:#333"><i class="mdi-av-new-releases"></i></h2>
            <h5 class="center">Feature one</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center" style="color:#333"><i class="mdi-hardware-cast"></i></h2>
            <h5 class="center">Feature two</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center" style="color:#333"><i class="mdi-hardware-keyboard-alt"></i></h2>
            <h5 class="center">Feature three</h5>
            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12" style="color: #333;">Vertically centered text</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="styles/img/deli-cheese.jpg" alt="img"></div>
  </div>

  <div class="container section scrollspy" id="projects">
    <div class="section">
        <br>
        <br>
      <h4 class="center">Our Clients</h4>
      <br>
      <div class="row">
        <div class="col s6">
        <img class="materialboxed responsive-img" data-caption="Description about the work or project"  src="styles/img/blur-flowers-nature-471-827x550.jpg">
        </div> 
        <div class="col s6">
        <img class="materialboxed responsive-img" data-caption="Description about the work or project"  src="styles/img/1415117217bc45x.jpg">
        </div> 
      </div><!--row-->
      
       <div class="row">
        <div class="col s6">
        <img class="materialboxed responsive-img" data-caption="Description about the work or project" src="styles/img/1397154567yttyy.jpg">
        </div> 
        <div class="col s6">
        <img class="materialboxed responsive-img" data-caption="Description about the work or project" src="styles/img/1399827845b0i1k.jpg">
        </div> 
      </div><!--row-->
      
      <div class="center">
        <a class="waves-effect waves-light btn indigo darken-4">View more</a>
      </div>

    </div>
  </div>


   <div class="parallax-container valign-wrapper section scrollspy" id="aboutus">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="center row col s3">
            
            <h3>About Us</h3>
       </div>
        <div class="center row col s12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
       </div>
       
      </div>
    </div>
    <div class="parallax"><img src="styles/img/wine-cheese.jpg" alt="img"></div>
  </div>



<div class="container section scrollspy" id="contactus">
    <div class="section">
        <br>
    <br>
    <h2>Contact Us</h2> 
    
<div class="row">
        
  <form class="col s8">
  
    <div class="row">
      <div class="input-field col s6">
        <input id="name" type="text" class="validate">
        <label for="name">Your Name</label>
      </div>
   
    
      <div class="input-field col s6">
        <input id="email" type="email" class="validate">
        <label for="email">Your Email</label>
      </div>
    </div><!--row-->
    
     <div class="row">
      <div class="input-field col s12">
        <input id="message-sub" type="email" class="validate">
        <label for="message-sub">Message Subject</label>
      </div>
    </div>
    
     <div class="row">
      <div class="input-field col s12">
         <textarea id="text_area" class="materialize-textarea"></textarea>
        <label for="text_area">Your Message</label>
      </div>
    </div>
    
     
      <div>
        <a class="waves-effect waves-light btn indigo darken-3">Send Message<i class="mdi-content-send right"></i></a>
      </div>
     </form>
     
      <div class="col s12 m4">
                    <p>
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    </p>
                   <ul class="share-buttons">
    <li><a href="https://www.facebook.com/sharer/sharer.php?u=&t=" target="_blank" title="Share on Facebook"><img src="styles/img/Facebook.png"></a></li>
    <li><a href="https://twitter.com/intent/tweet?source=&text=:%20" target="_blank" title="Tweet"><img src="styles/img/Twitter.png"></a></li>
    <li><a href="https://plus.google.com/share?url=" target="_blank" title="Share on Google+"><img src="styles/img/GooglePlus.png"></a></li>
</ul>
                </div>
     
     
</div>
    </div>
</div>


  <footer class="page-footer indigo darken-4">
   
    <div class="footer-copyright">
      <div class="container">
       <p>Copyright © InsightFoodSales.com</p>
      </div>
    </div>
  </footer>
