nav ul a,
nav .brand-logo {
  color: #444 !important;
}

p {
  line-height: 2rem;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}

.button-collapse {
  color: #ee6e73;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

  .parallax-container{
    /*background-color: rgba(255,255,255,.9);*/
  }

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: rgba(255,255,255,0.9);
}

.max-img-size{
    max-width: 100%;
}

.navbar-logo{
    max-height: 100%;
}

.image-container{
    /*max-width: 100%;*/
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .navbar-logo {
    max-height: 55px;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}




 .parallax img 
 {
     background-repeat: no-repeat;
     background-size: cover;
 }
 .parallax-container
 {
    color: black;
 }
 @media only screen and (max-width : 600px) {
  .parallax-container
 {
    color: #000;
 }
}
 nav a.button-collapse
 {
    color:black;
 }
 .purple.lighten-1 {
  background-color: #CC0066 !important;
}
.teal-text.text-lighten-2 {
  color: #CC0066 !important;
}
.share-buttons{
    list-style: none;
}

.share-buttons li{
    display: inline;
}
nav
{
    overflow: visible;
}
nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.small-text {
    font-size: .8em;
    color: #000;
}